/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-with,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
  
    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    } 

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }

    #content .members-img {
        width: 60%;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form{
        margin-top: 32px;
    }
}

/* Tablet - Mobile */
@media (max-width: 64em) {

    #nav .subnav a {
        padding: 5px 12px;
    }

    .btn,
    .contact-form .form-control {
        padding: 16px;
    }

    .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        line-height: 2;
    }
}

/* PC */
@media (min-width: 1024px) {

}
